<header class="hbm item-header">
    <input type="text" name="name" value="{{document.name}}" placeholder="{{localize 'HBM.ui.name'}}"/>
    <span class="item-type">{{localize (concat 'HBM.item.' itemType)}}</span>
</header>
